#smile{
  height: 500px;
  justify-content: center;
  align-items: center;
}

body {
  background-color: white;
  font-family: arial;
  color: red;
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  text-align: center;
}

@keyframes smileSpinType {
  0% {
    transform: rotate(45deg);

  }
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

@keyframes smileSpin {
  0% {
    transform-origin:  center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin:  center;
    transform: rotate(350deg);
  } 
}

@keyframes pupilMove {
  0% {
    transform:  translate(0px);
  }
  20% {
    transform: translate(-10px);
  } 
  40% {
    transform: translate(-20px);
  } 
  60% {
    transform: translate(-10px);
  }
  80% {
    transform: translate(-10px);
  } 
  100% {
    transform: translate(0px);
  } 
}

@keyframes backgroundChange{
  0%{
    background-color: white;
  }
  50%{
    background-color: #DEF5FF; 
  }
  100%{
    background-color: #CBEFFE;
  }
}


@keyframes noseChange{
  0%{
    background-color: white;
  }
  50%{
    background-color: red; 
  }
  100%{
    background-color: #CBEFFE;
  }
}



.pupil {
  animation: pupilMove 2s ease-out infinite;
  height:500px;
}



.mouth {
  animation: smileSpin 5s ease-out infinite;
  height: 500px;
}


#smile{
  animation: backgroundChange 5s ease-out infinite;
}

.nose{
  animation: noseChange 5s ease-out infinite;
}

/*
.mouth : hover{
  animation: smileSpin 5s ease-out infinite;
  height: 500px;
}
*/

#smile :hover {
  /*animation-play-state: paused;*/
  cursor: pointer;
}

/*basic animation, spins once in one second*/
div.item {
  animation: smileSpinType 1s;
}

