body{
  
	background-color: black;
  cursor: url("cursor.png"), auto;
  font-family: 'Lexend Deca', sans-serif;
  /* text-decoration: none; */


}

.jihu{
  color: #545aff;
  font-weight: bold;
}
.keywords{
  padding-top: 40px;
  font-weight: bold;
  padding-bottom: 127px;
}

.w1{
  color: #C2F642;
}

.w2{
  color: #49937E;
}

.w3{
  color: #F030A5;
}

.w4{
  color: #FF8A00;
}



h1{
  padding-top: 50px;
  color:white;
  font-size: 36px;
  font-weight: bold;
  padding-left: 110px;
}
h2{
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding-left: 110px;
}

p{
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding-left: 110px;
  padding-right: 116px;
}

.btn{
  padding-left: 110px;
  color: white;
}

.btn:hover{
  color: #C2F642;

}
.box{
  display: flex;

}
.att{
  text-decoration: none;
  color: white;
  display: block;
  padding-bottom: 30px;
}

.att:hover{
  color: #C2F642;
}
.att1{
  color:#C2F642;
  font-weight: bold;
}
.att2{
  color:#C2F642;
  font-weight: bold;
}
.att3{
  color:#C2F642;
  font-weight: bold;
}
.att4{
  color:#C2F642;
  font-weight: bold;
}

.homebtn{
  color: white;
}

.homebtn:hover{
  color:#C2F642;
}

.container{
  position: relative;
  text-align: center;
}
.blob{
  height: 236px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.childBox1{
  padding: 20px;
  padding-top: 152px;
}
.childBox2{
 
  padding: 20px;
  flex-grow: 1;
  text-align: center;
  padding-top: 190px;
}
.rec{
  position: relative;
  height: 10px;
  width: 100%;
  background-image: linear-gradient(to right, #F030A5, #C2F642);
}

.wordd{
  font-size: 28px;
  font-weight: bold;
  color:#C2F642;
}

.descripp{
  font-size: 16px;
  font-weight: bold;
  color:white;
}

.question{
  margin-top: 64px;
  font-size: 20px;
  font-weight: bold;
  color: #49937E;

}

.barDes{
  display: flex;

}

.des1{
  padding-top: 16px;
  font-size: 12px;
  color:#F030A5;
}

.des2{
  padding-top: 16px;
  font-size: 12px;
  color: #C2F642;
  margin-left: auto;

}


.pos1{
  position: absolute;
  top: -7px;
  left: 10%;
  height: 24px;
  width: 12px;
  background-color: white;
}

.pos2{
  position: absolute;
  top: -7px;
  left: 20%;
  height: 24px;
  width: 12px;
  background-color: white;
}
.pos3{
  position: absolute;
  top: -7px;
  left: 30%;
  height: 24px;
  width: 12px;
  background-color: white;
}
.pos4{
  position: absolute;
  top: -7px;
  left: 40%;
  height: 24px;
  width: 12px;
  background-color: white;
}
.pos5{
  position: absolute;
  top: -7px;
  left: 50%;
  height: 24px;
  width: 12px;
  background-color: white;
}
.pos6{
  position: absolute;
  top: -7px;
  left: 60%;
  height: 24px;
  width: 12px;
  background-color: white;
}
.pos7{
  position: absolute;
  top: -7px;
  left: 70%;
  height: 24px;
  width: 12px;
  background-color: white;
}
.pos8{
  position: absolute;
  top: -7px;
  left: 80%;
  height: 24px;
  width: 12px;
  background-color: white;
}
.pos9{
  position: absolute;
  top: -7px;
  left: 90%;
  height: 24px;
  width: 12px;
  background-color:white;

}

