body{
	background-color: #FFEA2B;
	margin-left: 10px;


}

.pol1{
  width: 500px;
  margin: auto;
  display: block;
  padding-bottom: 30px;

}


.pol2{
  width: 500px;
  margin: auto;
  display: block;
  padding-bottom: 30px;

}
	