
body {
  background-color: #086256;
  color:  #D4B7D2;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  padding: 20px;
}

h1 {
  font-weight: normal;
  font-size:  50px;
}

svg {
  /*background-color:  white;*/
}

/* .tick {
  font-size:  20px;
  letter-spacing: 1px;
}

.domain {
  display: none;
}

line {
  display: none;
}
.rectangle {
  transition: fill 500ms ease;
}

.rectangle:hover {
  fill: #ff6af5;
  cursor: pointer;

} */