 #button {
    width: 20em;
    text-decoration: none;
} 
nav {
    padding-top: 40px;
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: black;
    background: white;
}

nav:hover {
    color: black;
    background: white;
}


body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 40px;
    background-image: url(onfLogo.jpg);
}
body:hover{
    background-color:white;
    color:black;
    
}
