#button {
    width: 20em;
    text-decoration: none;
} 
a{
    padding-top: 10px;
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px
}
a:hover {
    color: black;
    background: white
}

nav:hover {
    color: white;
    background: black;
}


body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 40px;
    background-color: black;

    


}
body:hover{
  
    background-size: 50%;
    
}
mark{
    background-color:black;
    color:white;
}

.introduction{
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;
}