body{
	background-color: white;


}

.banner .home{
	margin-top: 40px;
	font-family: 'Permanent Marker', cursive;
	color: navy;
	margin-left: 30px;
	font-size: 48px;
	cursor: url("retrocursor.png"), auto;
}

.banner .button1{
	width: 186px;
	position: flex;
}
.banner .button2{
	width: 222px;
	position: flex;
}
.banner .button3{
	width: 164px;
	position: flex;
}
.banner .button4{
	width: 173px;
	position: flex;
}
.banner .button5{
	width: 144px;
	position: flex;
}

.banner .button1:hover{
	cursor: url("retrocursor.png"), auto;
	transform: rotate(-15deg);

}
.banner .button2:hover{
	cursor: url("retrocursor.png"), auto;
	transform: rotate(15deg);

}
.banner .button3:hover{
	cursor: url("retrocursor.png"), auto;
	transform: rotate(-15deg);

}
.banner .button4:hover{
	cursor: url("retrocursor.png"), auto;
	transform: rotate(15deg);

}
.banner .button5:hover{
	cursor: url("retrocursor.png"), auto;
	transform: rotate(-15deg);

}

.banner{
	display: flex;
	justify-content: space-around;
}

.buttons{
	display:flex;
	justify-content: flex-end;
}

.toprow{
	display: flex;
	justify-content: space-around;
}


.bio{
	border: 2px solid black;
	box-shadow: -10px 10px black;
	width: 419px;
	height: 500px;
	background-color:#FFC700 ;
	margin-left: 84px;
	position: flex;
	margin-top: 100px;
	letter-spacing: 5px;



}

.bio .name{
	text-align: center;
	font-size: 72px;
	color: #FB4311;
	font-family: 'Permanent Marker', cursive;
}

.bio .youtube{
	position: flex;
	align-items: center;

}

.bio .instagram{
	margin-top: 10px;
	position: flex;
	align-items: center;

}

.bio .icons{
	display: flex;
	justify-content: space-evenly;
}

.bio .instagram:hover{
	cursor: url("retrocursor.png"), auto;
}

.bio .youtube:hover{
	cursor: url("retrocursor.png"), auto;
}
.bio .description{
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 80px;

	font-size: 30px;
	color: white;

	font-family:  'Permanent Marker', cursive;

}

.danceVid{
	margin-top: 100px;
	border: 2px solid black;
	box-shadow: -10px 10px black;
	width: 770px;
	height: 500px;
	margin-right: 84px;
}

.dancerPic1{
	border: 2px solid black;
	box-shadow: -10px 10px black;
	width: 566px;
	height: 646px;
	margin-left: 84px;
	position: flex;
	margin-top: 100px;
}
.dancerPic2{
	border: 2px solid black;
	box-shadow: -10px 10px black;
	width: 566px;
	height: 646px;
	margin-right: 84px;
	position: flex;
	margin-top: 100px;
	margin-left: 84px;
}
.dancerPic3{
	border: 2px solid black;
	box-shadow: -10px 10px black;
	width: 566px;
	height: 646px;
	margin-left: 84px;
	position: flex;
	margin-top: 100px;
}
.dancerPic4{
	border: 2px solid black;
	box-shadow: -10px 10px black;
	width: 566px;
	height: 646px;
	margin-right: 84px;
	position: flex;
	margin-top: 100px;
	margin-left: 97px;
}

.floatingDancer{
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.floatingDancer:hover{
	cursor: url("retrocursor.png"), auto;
	transform: rotate(-15deg);

}

